*:focus {
    outline: none !important;
    box-shadow: none !important;
}

#yeetifier {
	min-width: 200px;
}

#footer {
	padding-bottom: 30px;
}

#result, #result-title, #result-box, #copy-button {
    display: none;
}

#copy-button {
    margin-top: 20px;
}

#yeet-input {
    min-height: 100px;
    max-height: 200px;
}